html {

}

li {
    font-size: 16px;
    line-height: 20px;
}

.LiveMain__Container.Loading .Loader {
    display: block;
}

.LiveMain__Container {
    max-width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}

.LiveMain__Container .CardFake {
    padding: 0 10px;
}

.LiveMain__Container .Card {
    background: var(--color-medium);
    margin: 7.5px 0;
    padding: 10px;
}

.LiveMain__Container .Half:first-child .Card {
    margin-right: 7.5px;
}

.LiveMain__Container .Half:last-child .Card {
    margin-left: 7.5px;
}

.LiveMain__Container .Card h1,
.LiveMain__Container .Card h2,
.LiveMain__Container .Card h3 {
    margin-top: 0;
}

.LiveMain__Container .Field {
    margin-bottom: 7.5px;
}

.LiveMain__Container .CardField + section {
    margin-top: 0;
}

.CardField h3 {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    opacity: 0.90;
}

.Halves {
    display: flex;
    justify-content: space-between;
}

.Half {
    display: inline-block;
    width: 50%;
}

.GameBox {
    margin: 10px auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-align: center;
}

.GameBox .ClockBox, .GameBox .ScoreBox {
    display: inline-block;
}

.ClockBox .Clock, .ScoreBox .Score {
    margin: 0 10px;
}

.GameBox .BoxIcon {
    padding: 5px;
    border-radius: 5px;
}

.GameBox .BoxIcon.Red {
    background: var(--color-red);
}

.GameBox .BoxIcon.Blue {
    background: var(--color-blue);
}

.GameBox .BoxIcon.Green {
    background: var(--color-futsal);
}

.StatsTable {
    text-align: left;
    font-size: 16px;
    line-height: 16px;
}

.StatsTable.Full table {
    width: 100%;
    border: none;
}

.StatsTable th, .StatsTable td {
    padding: 2px;
    padding-right: 10px;
}

.StatsTable th:last-child, .StatsTable td:last-child {
    padding-right: 0;
}

.StatsTable th {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    font-weight: bold;
}

.StatsTable tr:hover {
    background: var(--color-light);
    cursor: pointer;
}
